* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to left, #eaafc8, #654ea3);
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.gl-img {
  width: 300px;
}

ul {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
}

li {
  list-style: none;
}

.icon-text {
  text-align: center;
}

h3 {
  font-size: 43px;
  color: #fff;
}

p {
  color: #fff;
  margin-bottom: 4px;
}

button {
  border: none;
  border-radius: 5px;
  padding: 8px;
  width: 300px;
  cursor: pointer;
  animation: mymove 2s infinite;
}

button:hover {
  background: linear-gradient(to right, #bfa3ae, #8b7ab9);
}

button:active {
  transform: scale(0.95);
}

.btnFather {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@keyframes mymove {
  50% {
    box-shadow: 0px 0px 10px yellow;
  }
}

/* MEDIA */

@media only screen and (max-width: 500px) {
  .gl-img {
    width: 250px;
  }
  h3 {
    font-size: 35px;
  }
  button {
    padding: 6px;
    width: 250px;
  }
}
